.App{
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*This is the on off animation states for the main users page */
#wrapper{
  position: absolute;
  z-index: 4;
  border-radius: 8;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
  transition-duration: 200ms;
  transform: translateX(0) scaleY(1);
}

#wrapper.open-menu {
  position: absolute;
  z-index: 4;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition-duration: 200ms;
  transform: translateX(90px) scaleY(0.95);
}

#user_scroll{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; 
  padding-right: 18px;
}