/*Fixed navigation bar*/
.header{
	z-index: 4;
	position: fixed;
	width: 100%;
	height: 40px;
	padding-bottom: 15px;
	background-color: rgba(42, 120, 247, 0.5);
}

.header_holder{
	position: absolute;
	top: 0;
	left: 0;
}

h4{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	color: #fff;
}

.centertext{
	position: absolute;
	top: -13px;
	width: 100%;
}

.menuitem{
	display: inline-block;
	width: 40px;
}

.menuitem_outer{
	z-index: 10;
	position: absolute;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}

